#main-container {
    position: relative;
    width: 500px;
    height: 300px;
}

#baseplate {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 300px;
}

.v-stack {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally within VStack */
}
  
.h-stack {
    display: flex;
    /* For horizontal spacing between HStack items */
    margin-bottom: 12px;
    width: 460px;
    height: 23px;
}

.spacer {
    flex-grow: 1; /* Expands to fill the available space */
}
 
.main-site-title {
    color: #000;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.status-title {
    color: #00CF3A;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.res-desc {
    color: #000;
    font-family: Avenir;
    font-size: 17px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

.res-val {
    color: #000;
    font-family: Avenir;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}